body{
    background-color: rgb(50, 50, 50);

    margin: 0px;
    padding: 0px;
    border: 0px;
}
#game{
    background-color: black;

    margin: auto;
}
.brick{
    background-color: red;

    margin: 0px;
    padding: 32px 64px;
    border: 0px;

    border-radius: 5px;

    position: absolute;
}
#ball{
    background-color: white;

    padding: 16px;

    border-radius: 100px;

    position: absolute;
}
#player{
    background-color: white;

    padding: 10px 60px;

    border-radius: 5px;

    position: absolute;
}
button{
    background-color: gray;

    text-align: center;

    margin: 0px;
    padding: 5px;
    border: 0px;

    border-radius: 5px;
}